<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define RepoDir="$(var.ProjectDir)..\..\..\" ?>
  <?define BinDir="$(var.RepoDir)msvs\$(var.Platform)\$(var.Configuration)\" ?>

  <Fragment>
    <!--Documentation files to install-->
    <ComponentGroup Id="DocumentationComponents" Directory="INSTALLFOLDER" Source="!(wix.DocumentationFolder)">

      <Component Id="cmp_Redis_Windows_Conf" Guid="*">
        <File Name="redis.windows.conf" />
      </Component>
     
    </ComponentGroup>

    <ComponentGroup Id="ReleaseNotesComponents" Directory="INSTALLFOLDER" Source="!(wix.RootFolder)">

      <Component Id="cmp_RELEASENOTES_txt" Guid="*">
        <File Name="RELEASENOTES.txt" />
      </Component>
      <Component Id="cmp_00_RELEASENOTES" Guid="*">
        <File Name="00-RELEASENOTES" />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>